parameters:


application:
	errorPresenter: Error
	mapping:
		Back: Eshopblank\BackModule\Presenters\*Presenter
		Front: Eshopblank\FrontModule\Presenters\*Presenter
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- Eshopblank\Model\UserRegistrationService
	- Eshopblank\Model\Security\Authenticator
	- Eshopblank\FrontModule\Forms\INewQuoteFormFactory
	- Eshopblank\BackModule\Forms\ILoginFormFactory
	- Eshopblank\BackModule\Forms\IRegisterFormFactory
	- Eshopblank\BackModule\Forms\IEditParentCategoryFormFactory
	- Eshopblank\Model\EditParentCategoryService
	- Eshopblank\BackModule\Forms\IEditCategoryFormFactory
	- Eshopblank\Model\CategoryService
	- Eshopblank\BackModule\Forms\IEditProductFormFactory
	- Eshopblank\BackModule\Forms\IProductsListFormFactory
	- Eshopblank\BackModule\Forms\IAddProductFormFactory
	- Eshopblank\Model\ProductService
	- Eshopblank\BackModule\Forms\IAddCategoryFormFactory
	- Eshopblank\BackModule\Forms\ICategoryListFormFactory
	- Eshopblank\BackModule\Forms\IQuotesFormFactory
	- Eshopblank\BackModule\Forms\IOrdersFormFactory
	- Eshopblank\FrontModule\Forms\IShippingAndPaymentFormFactory
	- Eshopblank\FrontModule\Forms\IPersonalDataFormFactory
	- Eshopblank\Model\ShippingAndPaymentService
	- Eshopblank\Model\OrderService
	- Eshopblank\CronModule\Model\FeederService
	- Eshopblank\Model\QuoteService
	- Eshopblank\Model\AddProductService
	- Eshopblank\FrontModule\Forms\IAddProductFormFactory
	- Eshopblank\FrontModule\Forms\INewsletterFormFactory
	- Eshopblank\Model\NewsletterService
	- Eshopblank\FrontModule\Forms\IFindFormFactory
	- Eshopblank\Model\FindService
	- Eshopblank\Model\InvoiceService


extensions:
    dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
    orm: Nextras\Orm\Bridges\NetteDI\OrmExtension

orm:
    model: Eshopblank\Model\Orm