<!DOCTYPE html>
<html xml:lang="cs" lang="cs" prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Petr Šebela">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta id="contentLanguage" http-equiv="Content-Language" content="cs-CZ" />
        <meta name="msapplication-TileColor" content="#FFFFFF" /><meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta property="og:site_name" content="Animalko.cz">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta property="og:type" content="product">
        <meta name="copyright" content="Petr Šebela" />
        <meta name="robots" content="{ifset #robots}{include robots}{else}index,follow{/ifset}" />
        <title>{ifset #title}{include title|striptags} | Animalko - veterinární a chovatelské vybavení{else}Animalko - veterinární a chovatelské vybavení{/ifset}</title>
        <meta name="description" content="{ifset #description}{include description|striptags}{else}Animalko.cz - Kompletní vybavení pro Vaši veterinární ordinaci.{/ifset}"/>
        <meta property="og:title" content="{ifset #title}{include title|striptags} | Animalko - veterinární a chovatelské vybavení{else}Animalko.cz - Veterinární a chovatelské vybavení{/ifset}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://www.animalko.cz/"/>
        <meta property="og:image" content="https://www.animalko.cz/image/photo/facebookpic.jpg!!!!!!!!!"/>
        <meta property="og:site_name" content="Animalko"/>
        <meta property="og:description" content="{ifset #description}{include description|striptags}{else}Animalko.cz - Kompletní vybavení pro Vaši veterinární ordinaci.{/ifset}"/>
        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{$basePath}/css/prettyPhoto.min.css" rel="stylesheet">
        <link href="{$basePath}/css/price-range.min.css" rel="stylesheet">
        <link href="{$basePath}/css/animate.min.css" rel="stylesheet">
        <link href="{$basePath}/css/main.css" rel="stylesheet">
        <link href="{$basePath}/css/responsive.min.css" rel="stylesheet">
        <link href="{$basePath}/css/responsive_menu.css" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/minified/jquery-ui.min.css" type="text/css" />
        <script type="text/javascript" src="{$basePath}/js/seznamMap.js"></script>
        <script>Loader.load()</script>
        <link rel="icon" type="image/png" href="{$basePath}/icon.ico">
        <link rel="shortcut icon" href="{$basePath}/icon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <!-- Google Tag Manager -->
        <script>(function( w,d,s,l,i ){ w[l]=w[l]||[];w[l].push({ 'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        } )(window,document,'script','dataLayer','GTM-K5D4G2F');</script>
        <!-- End Google Tag Manager -->
        {*
        <script type="text/javascript">
            window.smartlook||(function(d) {
                var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
                var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
                c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
            })(document);
            smartlook('init', '541cda3b81ca09c40187f7f56de53bbb8d9d8975');
        </script>
        *}
        <!-- Begin Inspectlet Asynchronous Code -->
        <script type="text/javascript">
            (function() {
                window.__insp = window.__insp || [];
                __insp.push(['wid', 1916121910]);
                var ldinsp = function(){
                    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1916121910&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
                setTimeout(ldinsp, 0);
            })();
        </script>
        <!-- End Inspectlet Asynchronous Code -->
    </head>

    <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5D4G2F"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

        <header id="header"><!--header-->

            {include 'Layout/Header/headerTop.latte'}

            {include 'Layout/Header/headerMiddle.latte'}

            {include 'Layout/Header/headerBottom.latte'}

            {ifset $cartCheck}

                {else}

                {include 'Layout/Header/headerNavi.latte'}

            {/ifset}

        </header><!--/header-->

        {include 'Layout/Modal/modal.latte'}

        <section>
            <div class="container" id="cart_items" style="padding-top:0;border: none">
                <div class="row">
                    <div class="col-sm-12">
                        {foreach $flashes as $flash}
                            <div class="alert alert-success" role="alert">
                                {$flash->message}
                            </div>
                        {/foreach}
                        {include #content}
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer" style="margin-top:40px"><!--Footer-->

            {include 'Layout/Footer/footer.latte'}

        </footer><!--/Footer-->

        <script type="text/javascript" src="{$basePath}/js/html5shiv.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
        <script type="text/javascript" src="{$basePath}/js/price-range.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.scrollUp.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="{$basePath}/js/main.js"></script>
        <script type="text/javascript" src="{$basePath}/js/bootstrap3-typeahead.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/modal.js"></script>
        <script type="text/javascript" src="{$basePath}/js/smartsupp.js"></script>
    </body>

</html>